<header>
  <nav>
      <% if(user) { %>
        <!-- User Is Authenticated -->
        <%= user.name %>
      <% } else { %>
        <a href="Login" alt="login">Login</a>
      <% }%>
    <h1>SUPER DOGS!</h1>
    <button type="button" id="checkout-btn"><i class="fas fa-shopping-cart"></i></button>
  </nav>
</header>
