<header>
  <nav>
      <% if(user.id) { %>
        <!-- User Is Authenticated -->
        <%= user.name %>
      <% } else { %>
        <a href="Login" alt="login">Login</a>
      <% }%>
    <h1>SUPER DOGS!</h1>
    <form method='POST' action='/checkout'>
      <button type="submit" id="checkout-btn"><i class="fas fa-shopping-cart"></i></button>
    </form>
  </nav>
</header>
