$color-dark-blue: #1F1E5E;
$color-dark-green: #127334;
$color-red: #BF2315;
$color-off-white: #FFF5E6;
$color-yellow: #F2CE16;

$nav-height: 85px;

$logo-font: 'Pacifico', cursive;
$secondary-font: 'Quicksand', sans-serif;
