// Fonts
$logo-font: 'Pacifico', cursive;
$secondary-font: 'Quicksand', sans-serif;

// Colors
$color-dark-blue: #1F1E5E;
$color-red: #BF2315;
$color-off-white: #FFF5E6;
$color-yellow: #F2CE16;
$color-dark: #362A21;
$color-paper: #FFEBCD;
$color-table-border: #0F114C;

// Navigation Styling
$nav-height: 80px;
