$header-height: 80px;
$nav-color: #F2CE16;
$logo-font: 'Pacifico', cursive;
$secondary-font: 'Quicksand', sans-serif;
$logo-color: #BF2315;
$text-shadow-color: #FFF5E6;
$secondary-text-color: #1F1E5E;
$flare-color: #362A21;

table {
  width: 60%;
  border: 1px solid $flare-color;
};


