// See: https://sass-lang.com/

$header-height: 80px;
$nav-color:#F2CE16;
$background-color: #FFF5E6;

body {
  background-color: $background-color;

  // h1 {
  //   color: #244751;
  // }

  :focus {
    outline: 0;
  }
}

main {
  padding-top: $header-height;
}

